In [187]:
#Goal: Create a Dataframe that contains the following: 
###IMDB Movie ID
###Movie Title
###Domestig Gross
###Worldwide Gross
###Genres

In [4]:
import pandas as pd
import numpy as np

In [293]:
##need: Domestic Gross, WorldWide Gross
##match on:: Movie Title
budget_df = pd.read_csv('data/tn.movie_budgets.csv.gz', header=0)
budget_df.rename(columns = {"movie": "primary_title"}, inplace = True)
budget_df.drop(columns = ["production_budget", "id"], inplace = True)
budget_df.head()

,release_date,primary_title,domestic_gross,worldwide_gross
0,"Dec 18, 2009",Avatar,"$760,507,625","$2,776,345,279"
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$241,063,875","$1,045,663,875"
2,"Jun 7, 2019",Dark Phoenix,"$42,762,350","$149,762,350"
3,"May 1, 2015",Avengers: Age of Ultron,"$459,005,868","$1,403,013,963"
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$620,181,382","$1,316,721,747"

In [292]:
##need: Primary Title, Genres
##match on: tconst

imdb_titles_df = pd.read_csv('data/imdb.title.basics.csv.gz')
imdb_titles_df = imdb_titles_df.drop(columns = ["start_year", "runtime_minutes"])
imdb_titles_df.head()

,tconst,primary_title,original_title,genres
0,tt0063540,Sunghursh,Sunghursh,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,"Comedy,Drama,Fantasy"

In [284]:
Merged_DF = imdb_titles_df.merge(budget_df, how = 'right', on = "primary_title")
Cleaner_Merged_DF = Merged_DF.dropna(thresh=5)
Cleaner_Merged_DF.drop(columns = "original_title", inplace = True)
#3598 lost

C:\Users\Raven (Work)\.conda\envs\learn-env\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [285]:
Cleaner_Merged_DF.worldwide_gross = Cleaner_Merged_DF.worldwide_gross.map(lambda x: int(x.replace("$", "").replace(",", "")))
Cleaner_Merged_DF.domestic_gross = Cleaner_Merged_DF.domestic_gross.map(lambda x: int(x.replace("$", "").replace(",", "")))

C:\Users\Raven (Work)\.conda\envs\learn-env\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [291]:
Cleaner_Merged_DF.to_csv(path_or_buf="data/Clean_Movie_Data.csv")