In [187]:
#Goal: Create a Dataframe that contains the following: 
###IMDB Movie ID
###Movie Title
###Domestig Gross
###Worldwide Gross
###Genres

In [4]:
import pandas as pd
import numpy as np

In [293]:
##need: Domestic Gross, WorldWide Gross
##match on:: Movie Title
budget_df = pd.read_csv('data/tn.movie_budgets.csv.gz', header=0)
budget_df.rename(columns = {"movie": "primary_title"}, inplace = True)
budget_df.drop(columns = ["production_budget", "id"], inplace = True)
budget_df.head()

,release_date,primary_title,domestic_gross,worldwide_gross
0,"Dec 18, 2009",Avatar,"$760,507,625","$2,776,345,279"
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$241,063,875","$1,045,663,875"
2,"Jun 7, 2019",Dark Phoenix,"$42,762,350","$149,762,350"
3,"May 1, 2015",Avengers: Age of Ultron,"$459,005,868","$1,403,013,963"
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$620,181,382","$1,316,721,747"

In [292]:
##need: Primary Title, Genres
##match on: tconst

imdb_titles_df = pd.read_csv('data/imdb.title.basics.csv.gz')
imdb_titles_df = imdb_titles_df.drop(columns = ["start_year", "runtime_minutes"])
imdb_titles_df.head()

,tconst,primary_title,original_title,genres
0,tt0063540,Sunghursh,Sunghursh,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,"Comedy,Drama,Fantasy"

In [284]:
Merged_DF = imdb_titles_df.merge(budget_df, how = 'right', on = "primary_title")
Cleaner_Merged_DF = Merged_DF.dropna(thresh=5)
Cleaner_Merged_DF.drop(columns = "original_title", inplace = True)
#3598 lost

C:\Users\Raven (Work)\.conda\envs\learn-env\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [285]:
Cleaner_Merged_DF.worldwide_gross = Cleaner_Merged_DF.worldwide_gross.map(lambda x: int(x.replace("$", "").replace(",", "")))
Cleaner_Merged_DF.domestic_gross = Cleaner_Merged_DF.domestic_gross.map(lambda x: int(x.replace("$", "").replace(",", "")))

C:\Users\Raven (Work)\.conda\envs\learn-env\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [291]:
Cleaner_Merged_DF.to_csv(path_or_buf="data/Clean_Movie_Data.csv")

In [295]:
Cleaner_Merged_DF

,tconst,primary_title,genres,release_date,domestic_gross,worldwide_gross
0,tt0249516,Foodfight!,"Action,Animation,Comedy","Dec 31, 2012",0,73706
1,tt0293429,Mortal Kombat,"Action,Adventure,Fantasy","Aug 18, 1995",70433227,122133227
2,tt0326592,The Overnight,NaN,"Jun 19, 2015",1109808,1165996
3,tt3844362,The Overnight,"Comedy,Mystery","Jun 19, 2015",1109808,1165996
4,tt0337692,On the Road,"Adventure,Drama,Romance","Mar 22, 2013",720828,9313302
...,...,...,...,...,...,...
3810,tt9678962,Fuel,"Documentary,Sport","Nov 14, 2008",174255,174255
3811,tt9729206,Diner,Crime,"Apr 2, 1982",12592907,12592907
3812,tt9805168,Traitor,"Action,Drama,Romance","Aug 27, 2008",23530831,27882226
3813,tt9844102,Ray,Crime,"Oct 29, 2004",75305995,124823094
3814,tt9893078,Sublime,Documentary,"Mar 13, 2007",0,0

---------------

In [296]:
#Bringing in data from "Roles_by_Movie_Title"

In [299]:
principals = pd.read_csv('data/imdb.title.principals.csv.gz')
names = pd.read_csv('data/imdb.name.basics.csv.gz')

In [300]:
names_only = names[['nconst', 'primary_name']]
principals_names = principals.merge(names_only, on='nconst', how='left')

In [301]:
principals_names.drop(columns = ["ordering", "job", "characters"], inplace = True)

In [302]:
principals_names

            tconst      nconst  category           primary_name
0        tt0111414   nm0246005     actor           Tommy Dysart
1        tt0111414   nm0398271  director           Frank Howson
2        tt0111414   nm3739909  producer  Barry Porter-Robinson
3        tt0323808   nm0059247    editor            Sean Barton
4        tt0323808   nm3579312   actress        Brittania Nicol
...            ...         ...       ...                    ...
1028181  tt9692684   nm0186469     actor        Kenneth Cranham
1028182  tt9692684   nm4929530      self           Pearl Mackie
1028183  tt9692684  nm10441594  director              Guy Jones
1028184  tt9692684   nm6009913    writer        Sabrina Mahfouz
1028185  tt9692684  nm10441595  producer             Simmer Dim

[1028186 rows x 4 columns]

In [325]:
Merged_People_Movie_Data = Cleaner_Merged_DF.merge(principals_names, on = "tconst").replace("actress", "actor")
Merged_People_Movie_Data

,tconst,primary_title,genres,release_date,domestic_gross,worldwide_gross,nconst,category,primary_name
0,tt0249516,Foodfight!,"Action,Animation,Comedy","Dec 31, 2012",0,73706,nm0257258,producer,Robert Engelman
1,tt0249516,Foodfight!,"Action,Animation,Comedy","Dec 31, 2012",0,73706,nm0240381,actor,Hilary Duff
2,tt0249516,Foodfight!,"Action,Animation,Comedy","Dec 31, 2012",0,73706,nm0240380,actor,Haylie Duff
3,tt0249516,Foodfight!,"Action,Animation,Comedy","Dec 31, 2012",0,73706,nm0000221,actor,Charlie Sheen
4,tt0249516,Foodfight!,"Action,Animation,Comedy","Dec 31, 2012",0,73706,nm0519456,actor,Eva Longoria
...,...,...,...,...,...,...,...,...,...
32403,tt9893078,Sublime,Documentary,"Mar 13, 2007",0,0,nm1276349,producer,Terry Leonard
32404,tt9893078,Sublime,Documentary,"Mar 13, 2007",0,0,nm0434940,composer,David Kahne
32405,tt9893078,Sublime,Documentary,"Mar 13, 2007",0,0,nm0443706,cinematographer,Stephen Kazmierski
32406,tt9893078,Sublime,Documentary,"Mar 13, 2007",0,0,nm0002237,editor,John David Allen
32407,tt9893078,Sublime,Documentary,"Mar 13, 2007",0,0,nm0829466,editor,Jim Stewart

In [326]:
Merged_People_Movie_Data.to_csv(path_or_buf="data/Merged_People_Movie_Data.csv")