In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [35]:
df = pd.read_csv('data/cool data/imdb.title.ratings.csv.gz')
df.head

<bound method NDFrame.head of            tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]>

In [48]:
newdf = df
newdf.drop(list(filter(lambda x: x < 100, df.numvotes)))

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73761 rows x 3 columns]

[31,
 20,
 21,
 5,
 74,
 6,
 21,
 76,
 6,
 29,
 21,
 8,
 17,
 7,
 6,
 31,
 15,
 31,
 40,
 16,
 9,
 19,
 86,
 28,
 27,
 60,
 14,
 16,
 83,
 33,
 67,
 15,
 64,
 23,
 19,
 29,
 9,
 11,
 20,
 53,
 55,
 71,
 7,
 20,
 34,
 7,
 36,
 40,
 75,
 5,
 14,
 8,
 79,
 30,
 32,
 44,
 14,
 15,
 63,
 26,
 34,
 36,
 10,
 9,
 23,
 84,
 32,
 5,
 23,
 32,
 56,
 11,
 64,
 86,
 88,
 9,
 63,
 46,
 25,
 6,
 23,
 13,
 21,
 20,
 10,
 6,
 73,
 48,
 9,
 78,
 52,
 75,
 75,
 9,
 6,
 86,
 8,
 18,
 10,
 51,
 13,
 15,
 10,
 8,
 5,
 81,
 52,
 60,
 76,
 56,
 6,
 7,
 9,
 55,
 9,
 18,
 8,
 11,
 5,
 13,
 5,
 9,
 15,
 13,
 41,
 18,
 6,
 24,
 8,
 5,
 24,
 8,
 7,
 9,
 19,
 8,
 10,
 14,
 37,
 87,
 9,
 16,
 27,
 19,
 12,
 17,
 18,
 6,
 8,
 42,
 16,
 27,
 6,
 19,
 10,
 7,
 16,
 9,
 65,
 56,
 70,
 68,
 6,
 9,
 14,
 6,
 7,
 15,
 12,
 25,
 26,
 28,
 68,
 36,
 94,
 31,
 6,
 35,
 14,
 9,
 83,
 16,
 50,
 27,
 8,
 95,
 23,
 12,
 12,
 18,
 11,
 18,
 7,
 12,
 5,
 7,
 9,
 18,
 5,
 34,
 9,
 5,
 5,
 10,
 10,
 7,
 37,
 91,
 17,
 5,
 14,
 6,
 9,
 93,
 6,
 41,
 8,
 6,
 99,
 88,
 6,
 17,
 26,
 28,
 22,
 33,
 10,
 57,
 24,
 31,
 13,
 16,
 39,
 11,
 5,
 15,
 9,
 28,
 36,
 7,
 7,
 28,
 5,
 40,
 26,
 20,
 28,
 35,
 87,
 27,
 35,
 32,
 57,
 13,
 10,
 43,
 44,
 18,
 14,
 24,
 6,
 69,
 54,
 81,
 9,
 19,
 10,
 50,
 7,
 7,
 46,
 6,
 51,
 26,
 6,
 5,
 22,
 9,
 13,
 75,
 8,
 23,
 93,
 6,
 12,
 13,
 85,
 7,
 55,
 7,
 8,
 14,
 14,
 33,
 6,
 37,
 8,
 6,
 14,
 14,
 72,
 19,
 7,
 20,
 38,
 67,
 7,
 45,
 29,
 36,
 38,
 26,
 17,
 38,
 9,
 26,
 5,
 12,
 13,
 83,
 7,
 5,
 7,
 80,
 56,
 5,
 12,
 87,
 27,
 7,
 85,
 42,
 5,
 10,
 8,
 19,
 46,
 6,
 5,
 15,
 16,
 9,
 6,
 46,
 5,
 7,
 89,
 6,
 8,
 17,
 38,
 66,
 24,
 17,
 7,
 22,
 6,
 14,
 70,
 24,
 10,
 12,
 11,
 13,
 70,
 81,
 10,
 68,
 19,
 23,
 11,
 7,
 29,
 6,
 45,
 25,
 88,
 27,
 33,
 50,
 5,
 30,
 13,
 8,
 30,
 23,
 5,
 22,
 44,
 6,
 15,
 20,
 28,
 26,
 5,
 6,
 22,
 16,
 72,
 19,
 45,
 12,
 48,
 9,
 5,
 12,
 27,
 25,
 5,
 38,
 8,
 32,
 41,
 5,
 17,
 8,
 40,
 45,
 37,
 12,
 46,
 30,
 12,
 39,
 8,
 5,
 43,
 36,
 6,
 79,
 5,
 7,
 7,
 99,
 20,
 39,
 5,
 16,
 23,
 35,
 6,
 15,
 7,
 6,
 7,
 46,
 10,
 32,
 43,
 5,
 56,
 15,
 83,
 7,
 88,
 30,
 78,
 10,
 5,
 7,
 15,
 74,
 64,
 33,
 12,
 6,
 12,
 50,
 31,
 9,
 6,
 16,
 31,
 41,
 27,
 74,
 85,
 16,
 69,
 23,
 95,
 74,
 17,
 28,
 5,
 72,
 30,
 10,
 39,
 9,
 36,
 7,
 15,
 15,
 10,
 10,
 21,
 17,
 8,
 26,
 5,
 10,
 27,
 41,
 27,
 18,
 43,
 19,
 11,
 25,
 6,
 22,
 23,
 67,
 18,
 9,
 38,
 8,
 11,
 13,
 24,
 89,
 32,
 25,
 7,
 11,
 10,
 6,
 17,
 10,
 39,
 9,
 73,
 9,
 87,
 7,
 7,
 30,
 59,
 23,
 6,
 14,
 19,
 21,
 13,
 50,
 21,
 11,
 43,
 21,
 31,
 28,
 61,
 9,
 95,
 79,
 13,
 19,
 30,
 12,
 18,
 26,
 32,
 8,
 48,
 30,
 20,
 14,
 68,
 31,
 31,
 38,
 93,
 15,
 32,
 30,
 73,
 38,
 43,
 7,
 18,
 5,
 11,
 45,
 6,
 27,
 22,
 67,
 92,
 74,
 82,
 5,
 62,
 10,
 33,
 77,
 45,
 15,
 13,
 92,
 20,
 76,
 65,
 88,
 21,
 36,
 6,
 22,
 56,
 6,
 6,
 7,
 8,
 5,
 45,
 84,
 8,
 31,
 5,
 22,
 20,
 6,
 5,
 40,
 9,
 65,
 10,
 48,
 9,
 18,
 91,
 27,
 70,
 5,
 11,
 80,
 21,
 28,
 29,
 9,
 80,
 95,
 26,
 13,
 66,
 94,
 45,
 18,
 8,
 16,
 23,
 22,
 66,
 11,
 30,
 6,
 73,
 72,
 24,
 34,
 11,
 25,
 18,
 15,
 6,
 14,
 19,
 11,
 56,
 11,
 42,
 7,
 39,
 55,
 9,
 29,
 16,
 11,
 6,
 86,
 6,
 8,
 64,
 56,
 11,
 62,
 63,
 70,
 8,
 58,
 9,
 42,
 22,
 8,
 53,
 21,
 48,
 10,
 21,
 34,
 6,
 13,
 49,
 7,
 52,
 31,
 12,
 27,
 5,
 13,
 18,
 14,
 22,
 27,
 11,
 44,
 24,
 93,
 10,
 22,
 18,
 5,
 71,
 17,
 39,
 14,
 62,
 17,
 11,
 33,
 31,
 81,
 26,
 45,
 30,
 79,
 28,
 17,
 34,
 10,
 9,
 95,
 64,
 14,
 66,
 8,
 12,
 47,
 19,
 5,
 80,
 83,
 29,
 6,
 7,
 8,
 20,
 24,
 10,
 8,
 20,
 17,
 51,
 96,
 86,
 13,
 7,
 25,
 74,
 16,
 24,
 5,
 18,
 34,
 7,
 18,
 14,
 8,
 6,
 35,
 39,
 35,
 69,
 26,
 9,
 31,
 15,
 15,
 14,
 16,
 38,
 76,
 24,
 16,
 18,
 26,
 68,
 5,
 93,
 7,
 37,
 5,
 73,
 96,
 14,
 19,
 47,
 6,
 98,
 23,
 86,
 9,
 11,
 5,
 6,
 69,
 20,
 5,
 30,
 20,
 26,
 6,
 38,
 5,
 5,
 12,
 31,
 16,
 7,
 18,
 31,
 7,
 18,
 33,
 22,
 6,
 22,
 8,
 15,
 16,
 59,
 16,
 8,
 38,
 72,
 14,
 71,
 61,
 10,
 6,
 18,
 25,
 61,
 13,
 61,
 30,
 14,
 54,
 26,
 10,
 44,
 6,
 10,
 62,
 85,
 30,
 25,
 94,
 21,
 6,
 34,
 16,
 27,
 9,
 10,
 23,
 15,
 7,
 50,
 51,
 14,
 51,
 10,
 30,
 13,
 26,
 77,
 10,
 13,
 25,
 45,
 24,
 19,
 72,
 20,
 41,
 33,
 38,
 26,
 5,
 62,
 12,
 15,
 20,
 21,
 37,
 66,
 26,
 36,
 35,
 64,
 11,
 8,
 25,
 21,
 18,
 7,
 5,
 7,
 11,
 23,
 6,
 16,
 48,
 82,
 33,
 22,
 53,
 46,
 51,
 31,
 10,
 17,
 17,
 22,
 6,
 20,
 36,
 98,
 31,
 32,
 14,
 12,
 6,
 96,
 77,
 8,
 85,
 41,
 6,
 31,
 8,
 23,
 48,
 29,
 56,
 10,
 11,
 70,
 49,
 14,
 25,
 68,
 30,
 20,
 23,
 14,
 15,
 17,
 16,
 22,
 8,
 33,
 61,
 11,
 72,
 25,
 43,
 5,
 9,
 30,
 11,
 11,
 15,
 6,
 63,
 62,
 55,
 20,
 6,
 22,
 32,
 11,
 18,
 6,
 67,
 31,
 69,
 23,
 17,
 ...]

In [34]:
df_over_100

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73761 rows x 3 columns]

In [19]:
fig = plt.figure(figsize=(20,10))
imdb_ratings = plt.scatter(
                    x = df_over_100.numvotes,
                    y = df_over_100.averagerating)

AttributeError: 'DataFrame' object has no attribute 'numvotes'